<!--
Template created by Rebecca McKnight
for the GIRLsmarts 2014 workshops

Last updated by Rebecca McKnight on 19-Jan-2014
-->

<html>
<head>
	<title>Basic HTML template</title>
</head>

<body>
<pre>
&lt;html&gt;
&lt;head&gt;
	&lt;title&gt;YOUR TITLE GOES HERE&lt;/title&gt;
&lt;/head&gt;

&lt;body background=&quot;BACKGROUND IMAGE URL GOES HERE&quot;&gt;
	&lt;h1&gt;WELCOME TEXT GOES HERE&lt;/h1&gt;

	&lt;p&gt;INTRO PARAGRAPH GOES HERE&lt;/p&gt;

	&lt;p&gt;&lt;a href=&quot;LINK URL GOES HERE&quot;&gt;LINK DESCRIPTION GOES HERE&lt;/a&gt;&lt;/p&gt;

	&lt;p&gt;&lt;img src=&quot;IMAGE URL GOES HERE&quot; width=&quot;300px&quot; /&gt;&lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;
</pre>
</body>
</html>
