<!DOCTYPE html>

<!--
Template created by Rebecca McKnight
for the GIRLsmarts 2014 workshops

Last updated by Rebecca McKnight on 19-Jan-2014
-->

<html>
  <head>

    <title>TITLE GOES HERE</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://www.cs.ubc.ca/girlsmarts/template/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body background="BACKGROUND IMAGE URL GOES HERE">

    <div class="container">

      <div class="page-header">

        <h1>WELCOME TEXT GOES HERE</h1>

        <p class="lead">INTRO PARAGRAPH GOES HERE</p>

      </div>

      <h3>Pictures</h3>
      <p>Here are a few pictures of things I like!</p>

      <div class="row text-center">

        <img src="IMAGE URL GOES HERE" width="300px" />

      </div>

      <h3>Videos</h3>
      <p>Here are a few of my favourite videos!</p>

      <div class="row text-center">

          COPY AND PASTE YOUTUBE EMBED CODE HERE

      </div>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://www.cs.ubc.ca/girlsmarts/template/js/bootstrap.min.js"></script>
  </body>
</html>